# Local / large artifacts (do not commit)
tools/oss-cad-suite/
tools/oss-cad-suite.tgz
tools/cs
tools/xpack-riscv-none-elf-gcc-*/
tools/riscv-none-elf-gcc
tools/riscv-gcc.tar.gz
tools/*.tar.gz
tools/*.tgz

simulation/build/
simulation/build_gls/
simulation/*.vcd
simulation/latest.vcd
simulation/latest_gls.vcd

firmware/build/
firmware/mnist/data/

synthesis/**/runs/
synthesis/**/explore_logs/
synthesis/**/macros/*.gds
synthesis/**/macros/*.gds.*
synthesis/**/*.log
synthesis/**/floorplan_*.png

power/out_*/
power/*/activity.json
power/*/activity.tcl

third_party/VexRiscv/
third_party/sram22_sky130_macros/

synthesis/**/macros/*.gds
synthesis/**/macros/*.gds.*
synthesis/**/macros/*.log
synthesis/**/macros/_*.py
synthesis/**/macros/_*.tcl
synthesis/**/macros/_*.gds
synthesis/**/macros/*.pre_*
tools/oss-cad-suite
